<div class="row">


    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <app-graficadona></app-graficadona>


            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <app-graficadona></app-graficadona>


            </div>
        </div>
    </div>


</div>
<div class="row">


    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <app-graficadona></app-graficadona>


            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">

                <app-graficadona></app-graficadona>


            </div>
        </div>
    </div>


</div>